body{
    margin:0;
    padding:0;
    position: relative;
    background-color: coral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../data/forest.gif");
    background-size: cover; 
    background-position: center;

}

#display{
    width: 80vw;
    height: 80vh;
    background-color: moccasin;
    position: relative;
    border: 10px solid transparent;
    border-image: url("../data/stone.webp") 30 repeat;
    
    
    /* display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8,1fr);
    gap: 0px;
    justify-content: space-around;
    align-items: flex-end; */
    
    /* background-image: url("../data/floor.jpg");
    background-size: cover */
    /* overflow: hidden; */
}


.tile{
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-image: url("../data/floor.jpg"); */
}
.setBackground{
    width: 80vw;
    height: 80vh;
    background-color: moccasin;
    position: relative;
    border: 10px solid transparent;
    border-image: url("../data/fire-pixel.gif") 10 repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
#battle{
    background-image:url("../data/stadnoff.webp");
    display: none;
}

#reaction{
    background-image:url("../data/knighthits.webp") ;
    display: none;
}

.bar{
    height: 40%;
    width: 20%; 
    background-color: greenyellow;
    border: 3px solid black;
    position: relative;
    display: flex;
    justify-content: center;
}

.pin{
    height: 5px;
    width: 100%;
    background-color: red;
    position: absolute;
}

.hero{
    width: 25%;
    height: 25%;
    /* background-color: black; */
}

.enemy{
    width:25%; 
    height: 25%;
    /* background-color: red; */
}
.item{
    width:50%;
    height:50%;
    /* border: 3px solid black; */
}

.hidden{
    display:none;
}

.characterImg{
    width:100%;
}
